.language-switcher {
  position: relative;
  padding: 0 14px;
  &:hover {
    .language-switcher-dropdown {
      height: auto;
      display: block;
      opacity: 1;
      visibility: visible;
      width: auto;
      padding: 20px 0 0 0;
      top: 12px;
      z-index: 10;
    }
  }

  .language-switcher-button {
    border: 1px solid var(--color-primary-bg);
    color: inherit;
    svg {
      height: 16px;
      width: 16px;
    }
    &:hover {
      opacity: 0.8;
      background: var(--color-base-bg)
    }
  }
  .language-switcher-dropdown {
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    position: absolute;
    transition: opacity 0.2s ease-in;
    top: 0;
    right: 0;
    padding: 0;
    .language-switcher-translations {
      box-shadow: 1px 3px 6px 0 rgba(0,0,0,0.1);
      border: 1px solid var(--color-base-bg-2);
      border-radius: var(--button-border-radius);
      background: var(--color-base-bg);
      position: relative;
      &:before {
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid var(--color-base-bg);
        content: '';
        top: -6px;
        margin-left: -6px;
        position: absolute;
        right: 8px;
      }
      ul {
        margin: 0;
        display: block;
        background: var(--color-base-bg);
        border-radius: var(--button-border-radius);
        padding: 4px;
        li {
          display: block;
          a {
            display: block;
            padding: 3px 10px;
            color: var(--color-base-text);
            transition: background 0.1s linear;
            &:hover {
              background: var(--color-base-bg-2);
              border-radius: var(--button-border-radius);
              transition: background 0.2s linear;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}