.scroll-top {
    position: sticky;
    margin-left: auto;
    margin-bottom: 24px;
    bottom: 24px;
    right: 24px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: var(--color-base-bg-3);
    border: none;
    font-size: 20px;
    color: var(--color-base-text);
    transition: all .3s ease-in-out;

    opacity: 0;
    pointer-events: none;

    &:hover {
        color: var(--color-primary-bg);
    }

    @include media-breakpoint-up(lg) {
        bottom: 48px;
        right: 48px;
        margin-bottom: 48px;
    }

    &.show {
        opacity: 1;
        pointer-events: all;
    }
}