.status {
  white-space: nowrap;
  display: inline-block;
  background: var(--color-primary-bg);
  font-weight: 500;
  letter-spacing: 0.025em;
  text-decoration: none;
  transition: all 0.15s ease;
  border: none;
  outline: none;
  margin: 0;
  padding: 14px 32px;
  border-radius: var(--button-border-radius);
  background-color: #000;
  box-shadow: rgba(23, 22, 22, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  color: #fff;
  display: flex;
  align-items: center;
  &:hover {
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    text-decoration: none;
  }
  .status-light {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin: 0;
    margin-right: 6px;
    color: #46e385;
  }
  .status-text {
    display: inline-block;
    margin: 0;
  }
}