// Bootstrap "5.3.2

// Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/functions";

// Include our variable overrides here
@import "../theme/variables";

// Include main bootstrap variables and functions
@import "bootstrap/variables";
@import "bootstrap/variables-dark";
@import "bootstrap/maps";
@import "bootstrap/mixins";
@import "bootstrap/utilities";

// Bootstrap components
@import "bootstrap/root";
@import "bootstrap/reboot";
// @import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/containers";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
// @import "bootstrap/transitions";
// @import "bootstrap/dropdown";
// @import "bootstrap/button-group";
// @import "bootstrap/nav";
// @import "bootstrap/navbar";
// @import "bootstrap/card";
// @import "bootstrap/accordion";
// @import "bootstrap/breadcrumb";
// @import "bootstrap/pagination";
// @import "bootstrap/badge";
// @import "bootstrap/alert";
// @import "bootstrap/progress";
// @import "bootstrap/list-group";
// @import "bootstrap/close";
// @import "bootstrap/toasts";
// @import "bootstrap/modal";
// @import "bootstrap/tooltip";
// @import "bootstrap/popover";
// @import "bootstrap/carousel";
// @import "bootstrap/spinners";
// @import "bootstrap/offcanvas";
// @import "bootstrap/placeholders";

// Bootstrap helpers
@import "bootstrap/helpers";

// Bootstrap utilities
@import "bootstrap/utilities/api";

// Zerostatic core SCSS
@import "zerostatic/bottom.scss";
@import "zerostatic/button.scss";
@import "zerostatic/content.scss";
@import "zerostatic/footer.scss";
@import "zerostatic/header.scss";
@import "zerostatic/hamburger.scss";
@import "zerostatic/dark-mode.scss";
@import "zerostatic/feature.scss";
@import "zerostatic/contact.scss";
@import "zerostatic/grid.scss";
@import "zerostatic/language-switcher.scss";
@import "zerostatic/lead.scss";
@import "zerostatic/main-menu-mobile.scss";
@import "zerostatic/main-menu.scss";
@import "zerostatic/pagination.scss";
@import "zerostatic/reset.scss";
@import "zerostatic/sidebar.scss";
@import "zerostatic/social.scss";
@import "zerostatic/status.scss";
@import "zerostatic/section.scss";
@import "zerostatic/type.scss";
@import "zerostatic/bg.scss";
@import "zerostatic/aside.scss";
@import "zerostatic/comments.scss";
@import "zerostatic/summary.scss";
@import "zerostatic/summary-row.scss";
@import "zerostatic/summary-team.scss";
@import "zerostatic/author.scss";
@import "zerostatic/scroll-top.scss";
@import "zerostatic/share.scss";
@import "zerostatic/reading-time.scss";
@import "zerostatic/gallery.scss";

@import "zerostatic/sections/hero/hero.scss";
@import "zerostatic/sections/info/info.scss";
@import "zerostatic/sections/grid/grid.scss";
@import "zerostatic/sections/cta/cta.scss";
@import "zerostatic/sections/heading/heading.scss";
@import "zerostatic/sections/subscribe/subscribe.scss";
@import "zerostatic/sections/title/title.scss";

// Libraies
$fa-font-path: "../fonts/font-awesome-6/webfonts" !default;
@import "libraries/font-awesome-6/fontawesome.scss";
@import "libraries/font-awesome-6/solid.scss";
@import "libraries/font-awesome-6/regular.scss";
@import "libraries/font-awesome-6/brands.scss";
@import "libraries/pygments/github.scss";
@import "libraries/pygments/monokai.scss";

body {
  margin: 0;
  font-family: var(--font-family-base);
  font-size: 18px;
  color: var(--color-base-text);
  background: var(--color-base-bg);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.page {
  .wrapper {
    flex: 1;
  }
}

.container {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

// Tweaks for dark mode
html[data-bs-theme="dark"] {
}