{{ $cardClasses := slice "" }}
{{ $cardStyles := slice "" }}

{{ with .card }}
  {{ if eq .shadow false }}{{ $cardClasses = $cardClasses | append (print "card-no-shadow") }}{{ end }}
  {{ if eq .border false }}{{ $cardClasses = $cardClasses | append (print "card-no-border") }}{{ end }}
  {{ if eq .padding false }}{{ $cardClasses = $cardClasses | append (print "card-no-padding") }}{{ end }}
{{ end }}

<div class="card{{ delimit $cardClasses " " | safeCSS }}" style="{{ delimit $cardStyles " " | safeCSS}}">

  {{ if .context.Params.thumbnail }}
    {{ if (not (isset .card "showThumbnail")) }}
      <div class="card-thumbnail">
        {{ if eq .card.showThumbnailLink false}}
          <img width="400" height="300" alt="{{ .context.Title }}" src="{{ .context.Params.thumbnail | relURL }}" />
        {{ else }}
          <a href="{{ .context.Permalink }}"> <img width="400" height="300" alt="{{ .context.Title }}" src="{{ .context.Params.thumbnail | relURL }}" /></a>
        {{ end }}
      </div>
    {{ else }}
      {{ if eq .card.showThumbnail false }}{{ end }}
      {{ if eq .card.showThumbnail true }}
        <div class="card-thumbnail">
          {{ if eq .card.showThumbnailLink false}}
            <img width="400" height="300" alt="{{ .context.Title }}" src="{{ .context.Params.thumbnail | relURL }}" />
          {{ else }}
            <a href="{{ .context.Permalink }}"> <img width="400" height="300" alt="{{ .context.Title }}" src="{{ .context.Params.thumbnail | relURL }}" /></a>
          {{ end }}
        </div>
      {{ end }}
    {{ end }}
  {{ end }}

  <div class="card-content">

    {{ if isset .card "showDate" }}
      {{ if .card.showDate }}
        {{ if not .context.Date.IsZero }}
          <div class="card-date">{{ .context.Date.Format "Monday, Jan 2, 2006" }} </div>
        {{ end }}
      {{ end }}
    {{ end }}

    {{ if isset .card "showTitle" }}
      {{ if .card.showTitle }}
        <h2 class="card-title">
          {{ if isset .card "showTitleLink" }}
            {{ if .card.showTitleLink }}
              <a href="{{ .context.Permalink }}">{{ .context.Title }}</a>
            {{ else }}
               {{ .context.Title }}
            {{ end }}
          {{ else }}
            <a href="{{ .context.Permalink }}">{{ .context.Title }}</a>
          {{ end }}
        </h2>
      {{ end }}
    {{ else }}
      <h2 class="card-title"><a href="{{ .context.Permalink }}">{{ .context.Title }}</a></h2>
    {{ end }}

    {{ if .context.Params.meta }}
    <div class="card-meta">
      <ul>
        {{ range .context.Params.meta }}
        <li><strong>{{ .label | humanize }}: </strong>{{ .value }}</li>
        {{ end }}
      </ul>
    </div>
    {{ end }}

    {{ if isset .card "showDescription" }}
      {{ if .card.showDescription }}
        <p class="card-description">{{ .context.Params.description | truncate 200 }}</p>
      {{ end }}
    {{ else }}
      <p class="card-description">{{ .context.Params.description | truncate 200 }}</p>
    {{ end }}


    {{ if isset .card "showCategories" }}
      {{ if .context.Params.categories }}
      <div class="card-categories">
        <strong>Categories:</strong>
        {{ range .context.Params.categories }}
        <a class="card-category" href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
        {{ end }}
      </div>
      {{ end }}
    {{ end }}

  </div>
</div>
