.subscribe {
  .subscribe-title {
    margin: 0;
  }
  .subscribe-form {
    .subscribe-fields {
      font-size: 18px;
      @include media-breakpoint-up(md) {
        display: flex;
      }
      align-items: center;
      label {
        display: block;
        margin-bottom: 8px;
        font-weight: 600;
        font-size: 16px;
      }
      input {
        font-size: inherit;
        font-family: var(--font-family-base);
        color: var(--color-base-text);
        -webkit-appearance: none;
        appearance: none;
        border: none;
        border: 1px solid var(--color-base-text-2);
        display: block;
        width: 100%;
        padding: 16px;
        border-radius: var(--button-border-radius);
        margin-right: 16px;
        height: 56px;
        @include media-breakpoint-up(md) {
          margin-bottom: 0;
          margin-left: 16px;
        }
      }
      input[type="submit"] {
        font-size: inherit;
        font-family: var(--font-family-base);
        -webkit-appearance: none;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-right: 0;  
        white-space: nowrap;
        padding: 0 14px;
        background: var(--color-primary-bg);
        border-radius: var(--button-border-radius);
        font-weight: normal;
        letter-spacing: 0.025em;
        color: var(--color-primary-text);
        text-decoration: none;
        transition: all 0.15s ease;
        &:hover {
          opactiy: 0.7;
        }

        @include media-breakpoint-up(md) {
          max-width: 160px;
        }
      }
    }
    .subscribe-responses {
      font-size: 16px;
      .response-error {
        color: rgb(213, 73, 73);
        padding: 16px;
      }
      .response-success {
        color: rgb(57, 129, 57);
        padding: 16px;
      }
    }
  }
}
