{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-contact-single{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
    <div class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 ">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="content">{{.Content}}</div>
                </div>
            </div>
        </div>
    </div>
    
{{ end }}